body{
    width:100%;
    height: 100%;
    margin: 0;
}

:root{
    --font-size: 40px;
    --font-type: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --border-style: #080808 solid 4px;

    
}

.top-panel{
    width: 100%;
    height: 100px;
    border-bottom:#080808 double 8px;
    background-color: aqua;
    margin-bottom: 0%;
}

/* .blog-logo
{
    width: 45%;
    float: left;
    height: 100%;
    border-width: 4px;
    border-color: black;
    margin: 8px;
    background-color: blueviolet;
    text-align: center;
} */

.form-column, .logo-column
{
    width: 49.6%;
    height: 100vh;
    border-width: 4px;
    border-color: black;
    background-color: rgb(214, 194, 232); 
    margin:0;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.form-column{
    float:right;
    display:flex;
    flex-direction: column;
    margin: 0px;
    border-left: var(--border-style);

}


.logo-column{
    float: left;
    border-right: var(--border-style)
}

aside h1{
    font-size: 60px;
    font-family: var(--font-type);  
    border-radius: 50%;
    background:linear-gradient(#ffff00, rgb(241, 101, 31)) ;
    height: 50vh;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}
#blog-title{
    font-family: var(--font-type);
    font-size: 40px;
}

h2 {
    font-family: var(--font-type);
    width: 100%;
    margin-left: 30px;
}
input[type=text], select, textarea{
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
   
  }
  button[type=button] {
    background-color: #080808;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 98%;
    height: 50px;
    font-family: var(--font-type);
    margin-bottom: 20px;
    font-size: 25px;
  }

  #toggle-dark {
    float: right;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    font-size: 50px;
    cursor: pointer;
    transition: .5s;
 
}